dist: trusty
language: go
#go_import_path: github.com/opensds/opensds
sudo: false

go:
  - 1.6
  - 1.7
  - tip

env:
  matrix:
   - TARGET=amd64
   - TARGET=arm64
   - TARGET=arm
   - TARGET=386
   - TARGET=ppc64le

matrix:
  fast_finish: true
  allow_failures:
    - go: tip
  exclude:
  - go: tip
    env: TARGET=arm
  - go: tip
    env: TARGET=arm64
  - go: tip
    env: TARGET=386
  - go: tip
    env: TARGET=ppc64le

#script:
# - >
#    case "${TARGET}" in
#      amd64)
#        GOARCH=amd64 ./test
#        ;;
#      386)
#        GOARCH=386 PASSES="build unit" ./test
#        ;;
#      *)
#        # test building out of gopath
#        GO_BUILD_FLAGS="-a -v" GOPATH="" GOARCH="${TARGET}" ./build
#        ;;
#    esac
