.ui-dropmenu {
    position: relative;
    display: inline-block;
    zoom: 1;
}

.ui-dropmenu > .ui-widget.ui-button {
    padding-right: 0.20rem;
    padding-left: 0; 
    width: auto;
    vertical-align: top;
    background: none;
    border: none;
    color: map-get($color-primary, 'normal');
    &:hover {
        background: none;
        border: none;
        color: map-get($color-primary, 'hover');
        box-shadow: none;
    }
    &:active {
        background: none;
        border: none;
        color: map-get($color-primary, 'active');
    }
    &:disabled{
        background: none;
        border: none;
        color: $color-disabled;
    }
    & > .ui-button-icon-right{
        right: 0;
    }
    &.ui-button-icon-only{
        padding-right: 0;
    }
}

.ui-dropmenu.ui-state-disabled button {
    cursor: default;
}

.ui-fluid .ui-dropmenu {
    width: 100%;
}

.ui-fluid .ui-dropmenu .ui-button {
    width: 100%;
}