/** Breadcrumb **/

.ui-breadcrumb {
    margin: 0;
    padding: 0;
    padding: .3em;
}

.ui-breadcrumb ul {
    margin: 0;
    padding: 0;
}

.ui-breadcrumb ul li {
    display: inline-block;
    vertical-align: middle;
}

.ui-breadcrumb ul li .ui-menuitem-link {
    text-decoration: none;
}


/* 自定义面包屑 start */

.custom-breadcrumb {
    border: none !important;
    background: none !important;
}

.custom-breadcrumb a:nth-child(1) {
    font-style: normal !important;
    color: #478CD0 !important;
}


/* 自定义面包屑 end */