<div class="content-header">
    <h2>Create Profile</h2>
    <p>Create profile to suit your specific use requirements.</p>
</div>
<div class="form-con">
    <h3>Form 标题</h3>
    <input type="text" pInputText formcontrolName="xxx">
    <!-- <form [grid]="{label: 'ui-g-4', content:'ui-g-20'}" [formGroup]="formGroup" [errorMessage]="errorMessage">
        <form-item label="ssss" [required]="true">
            <input type="text" pInputText formcontrolName="xxx">
        </form-item>
    </form> -->
</div>
<div class="form-btn">
    <button pButton type="button" label="OK"></button>
    <button pButton type="button" label="Cancel"></button>
</div>