@import "./../../scss-variable";
.custom-breadcrumb {
    padding: 0 0 0.30rem;
}

.custom-breadcrumb a {
    color: map-get($color-text, primary) !important;
}

.custom-breadcrumb .font-color-class {
    color: #438bd3 !important;
}

.volume-basic-info {
    background: #f3f6f7;
    margin-bottom: .3rem;
    padding: .2rem;
    border-radius: 12px;
}

.volume-basic-info h3 {
    padding: 0 .08rem .20rem;
}

.margin-left-5percentage {
    margin-left: 5%;
}

.volume-basic-item-class {
    padding: 0.5em 0 !important;
}

.volume-basic-item-value-color {
    color: #2E3039 !important;
}