.volume-item-padding {
    padding: 1em 2em !important;
}

.volume-item-padding .ui-spinner-button {
    // display: block;
    height: 50% !important;
    margin: 0 !important;
    // overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    width: 1.5em !important;
}

.volume-content-padding {
    padding: 1em 0.5em !important;
}

.volume-footer-btn-padding {
    padding: 3em 0.5em !important;
}

.create-volume-content-header {
    padding: 0.5em;
}

.create-volume-content-header h2 {
    font-family: 'AvenirNext-Regular', 'Avenir Next';
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #2E3039;
    padding: 0.5em 0;
}

.create-volume-content-header p {
    padding: 0.5em 0;
}

.form-margin {
    margin-top: 2em;
}

.delete-img-class {
    margin-left: 2em !important;
    cursor: pointer;
    display: flex;
    align-items: center;
}