.profile-title {
    color: #687284;
    padding: 0.5em;
}

.padding-class {
    padding: 2em 0.5em;
}

.relative-class {
    padding: 0.16rem;
    position: relative;
}

$color-primary: (normal: #438bd3, hover: #4596e8, active: #1f5fac);