$color-primary: (normal: #438bd3, hover: #4596e8, active: #1f5fac);
$color-text: (primary: #657D95, secondary: #8893a6, tertary: #b9c3c8, auxiliary: #c9d1d8, custom: rgb(104, 114, 132));
$fontSize: 0.12rem;
$border-radius: (small, 3px),
(medium, 10px),
(large, 20px);