@import "./../../../scss-variable";
.text-align-center {
    text-align: center;
}

.replication-pair-volume-item {
    border-top: 1px dotted map-get($widget-border, hover);
    padding: 1em 0;
    height: 40px;
}

.replication-content-header p {
    font-size: 0.16rem;
    color: #2E3039 !important;
}

.replication-pair-img {
    padding: 1em 0;
}

.arr-width-class {
    width: 220px !important;
    padding: 0 !important
}

.replication-pair-arr1-height {
    height: 110px;
}

.replication-pair-arr2-height {
    height: 40px;
}

.replication-pair-arr-content-position {
    position: relative;
}

.replication-pair-arr-position {
    position: absolute;
    top: 50%;
}

.replication-pair-arr1-position {
    position: absolute;
    top: 50%;
    left: -75px;
}

.flex-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-align-center span {
    margin-right: 0.5em;
}

// .replication-pair-arr-head-position {
//     position: absolute;
//     top: 48%;
//     right: 0;
// }