<div>
    <div class="replication-content-header">
        <p>
            Replication Group
        </p>
    </div>
    <div style="padding:1em 0;">
        <p-checkbox [(ngModel)]="replicationEnable" binary="true" label="Enable"></p-checkbox>
    </div>
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" *ngIf="replicationEnable">
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                <p-dropdown (onChange)="getReplicationGroup()" [options]="groupOptions" [(ngModel)]="createOrExist"></p-dropdown>
            </div>
            <div class="ui-grid-col-2" *ngIf="createOrExist==='createGroup'">
                <input pInputText type="text" placeholder="Enter a group name" />
            </div>
            <div class="ui-grid-col-2" *ngIf="createOrExist==='existingGroup'">
                <p-dropdown [options]="existingGroupLists"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="replication-content-header">
        <p>
            Replication Pair
        </p>
    </div>
    <div>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                        <div class="ui-grid-row replication-pair-img">
                            <div class="ui-grid-col-3"></div>
                            <div class="ui-grid-col-6 text-align-center" style="height:110px;">
                                <img style="vertical-align:middle;" src="assets/business/images/volume/u583.png">
                                <div class="flex-align-center">
                                    <span><img style="vertical-align:middle;" src="assets/business/images/volume/u436.png"></span>
                                    <input pInputText type="text" disabled="true" [(ngModel)]="volumes[0].availabilityZone" />
                                </div>
                            </div>
                            <div class="ui-grid-col-3"></div>
                        </div>

                        <div class="ui-grid-row replication-pair-volume-item" *ngFor="let volume of volumes">
                            <div class="ui-grid-col-4 text-align-center">
                                <input pInputText type="text" [(ngModel)]="volume.name" disabled="true" />
                            </div>
                            <div class="ui-grid-col-4 text-align-center">
                                <input pInputText type="text" [(ngModel)]="volume.size" disabled="true" />
                            </div>
                            <div class="ui-grid-col-4 text-align-center">
                                <input pInputText type="text" [(ngModel)]="volume.profileId" disabled="true" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-col-2 arr-width-class">
                    <div class="replication-pair-img">
                        <div class="replication-pair-arr1-height replication-pair-arr-content-position">
                            <div class="flex-align-center">
                                <span>Period =</span>
                                <input pInputText type="text" [(ngModel)]="period" style="width: 60px" />
                                <span>Minutes</span>
                            </div>
                            <img class="replication-pair-arr-position replication-pair-arr1-position" src="assets/business/images/volume/u760p000.png">
                            <!-- <img class="replication-pair-arr-head-position" src="assets/business/images/volume/u740p002.png"> -->
                        </div>
                    </div>
                    <div class="replication-pair-img">
                        <div class="replication-pair-arr2-height replication-pair-arr-content-position">
                            <img src="assets/business/images/volume/u740p000.png" class="replication-pair-arr-position">
                            <!-- <img class="replication-pair-arr-head-position" src="assets/business/images/volume/u740p002.png"> -->
                        </div>
                    </div>
                    <div class="replication-pair-img">
                        <div class="replication-pair-arr2-height replication-pair-arr-content-position">
                            <img src="assets/business/images/volume/u740p000.png" class="replication-pair-arr-position">
                            <!-- <img class="replication-pair-arr-head-position" src="assets/business/images/volume/u740p002.png"> -->
                        </div>
                    </div>
                </div>
                <div class="ui-grid-col-3">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                        <div class="ui-grid-row replication-pair-img">
                            <div class="ui-grid-col-3"></div>
                            <div class="ui-grid-col-6 text-align-center" style="height:110px;">
                                <img style="vertical-align:middle;" src="assets/business/images/volume/u585.png">
                                <div class="flex-align-center">
                                    <span><img style="vertical-align:middle;" src="assets/business/images/volume/u436.png"></span>
                                    <input pInputText type="text" [(ngModel)]="volumes[0].availabilityZone" />
                                </div>
                            </div>
                            <div class="ui-grid-col-3"></div>
                        </div>
                        <div class="ui-grid-row replication-pair-volume-item" *ngFor="let volume of volumes">
                            <div class="ui-grid-col-5 text-align-center">
                                <input pInputText type="text" placeholder="Name" />
                            </div>
                            <div class="ui-grid-col-6 text-align-center">
                                <p-dropdown [options]="profileOptions" [(ngModel)]="selectedProfile"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>