@import "./../../scss-variable";
.margin-left-class {
    margin-left: 0.5em;
}


    
.font-primary{
    color: #434B52; 
    h2{
        padding-bottom: .10rem;
    }
}

.padding-class {
    min-width: 300px;
    &:last-of-type{
        padding-top: .10rem;
    }
}

.icon-color-class {
    font-size: $fontSize;
    color: map-get($color-primary, normal);
    background: rgba(101, 125, 149, 0.149019607843137);
    padding: 5px 10px;
    border-radius: 10px;
}

.font-color-class {
    color: map-get($color-text, primary);
}

.label-class {
    color: #B9C3C8;
}

.aaa {
    left: 0;
    top: 0;
}